## Loading Libraries and Dataset ##

In [1]:
import pandas as pd
import numpy as np
import re

# Loading Datasets
DATA_SET1 = './IMDBDataset_d1.csv'
df1 =pd.read_csv(DATA_SET1)

DATA_SET2 = './amazon_reviews_d2.csv'
df2 =pd.read_csv(DATA_SET2)

DATA_SET3 = './twitter_d3.csv'
df3 =pd.read_csv(DATA_SET3)

## Dataset 1: IMDB Dataset ##

In [6]:
df1.sample(10)

                                                  review sentiment
36787  I would like to comment on how the girls are c...  negative
19752  For years I remember reading about this show "...  negative
42054  "Mr. and Mrs. Smith" is one of the not too wel...  negative
21424  Having not read the novel, I can't tell how fa...  negative
2074   this film has its good points: hot chicks peop...  negative
24374  This is so to say a sequel to batman the anima...  positive
10399  It's a shame Barry Humphries infamous Sir Les ...  negative
12472  Clint Tollinger arrives in a small town lookin...  positive
17050  I think I laughed twice. The line where the ma...  negative
14848  The scenes are fast-paced. the characters are ...  positive

In [7]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
sentiment_label = le.fit_transform(df1["sentiment"])
print(le.classes_)
df1 =df1.drop("sentiment",axis="columns")
df1["sentiment"] = sentiment_label
df1.sample(10)
# negative - 0 , positive - 1

['negative' 'positive']

                                                  review  sentiment
24818  If the movies are to be believed, Chinese ghos...          1
26637  If you rent a movie titled "Exterminators of t...          0
3922   I gather from reading the previous comments th...          1
43745  I think this is almost all I need to say. I fe...          0
38723  Subject Matter: Cosmology, Quantum Physics and...          1
13666  I could tell this would be a bad one from the ...          0
17354  I remember this film from many years ago. Cert...          1
12743  North Africa in the 1930's. To a small Arab to...          1
6668   Are you familiar with concept of children's ar...          0
27701  If there were a movie that deserved a 0 out of...          0

## Dataset 2: Amazon Reviews ##

In [2]:
df2.sample(10)

,Unnamed: 0,reviewerName,overall,reviewText,reviewTime,day_diff,helpful_yes,helpful_no,total_vote,score_pos_neg_diff,score_average_rating,wilson_lower_bound
2684,2684,k,3.0,I was a little disappointed since it came with...,2013-02-16,660,0,0,0,0,0.0,0.000000
2576,2576,J. Van Wagenen,5.0,I had been using a 'regular' SanDisk 32GB Micr...,2014-06-01,190,0,0,0,0,0.0,0.000000
554,554,bearda,5.0,The internal memory on my ASUS tablet is kinda...,2013-10-27,407,0,0,0,0,0.0,0.000000
1872,1872,Gregs of Wrath,5.0,I bought this memory card to be used in my GoP...,2013-11-03,400,0,0,0,0,0.0,0.000000
924,924,chevrolet678,5.0,This product is great my phone doesnt lock up ...,2013-08-01,494,0,0,0,0,0.0,0.000000
2291,2291,JGirl54,5.0,We bought this card to use in a Samsung Tab 2 ...,2013-12-08,365,0,0,0,0,0.0,0.000000
3324,3324,Mr Larry F Pavier,5.0,Samsung is my preferred memory brand but SanDi...,2013-10-27,407,0,0,0,0,0.0,0.000000
2362,2362,JoeF,5.0,Using this for a dash camera we purchased for ...,2014-01-01,341,0,1,1,-1,0.0,0.000000
1368,1368,"D. Kronstadt ""kronhead""",5.0,"Only had it a few days, but so far it seems to...",2014-03-25,258,1,0,1,1,1.0,0.206549
1250,1250,Dawn of Poets,5.0,It works and will give me much more room for m...,2014-03-04,279,0,0,0,0,0.0,0.000000

In [3]:
df2 = df2[['overall', 'reviewText']]
df2

      overall                                         reviewText
0         4.0                                         No issues.
1         5.0  Purchased this for my device, it worked as adv...
2         4.0  it works as expected. I should have sprung for...
3         5.0  This think has worked out great.Had a diff. br...
4         5.0  Bought it with Retail Packaging, arrived legit...
...       ...                                                ...
4910      1.0  I bought this Sandisk 16GB Class 10 to use wit...
4911      5.0  Used this for extending the capabilities of my...
4912      5.0  Great card that is very fast and reliable. It ...
4913      5.0  Good amount of space for the stuff I want to d...
4914      5.0  I've heard bad things about this 64gb Micro SD...

[4915 rows x 2 columns]

In [4]:
df2.rename(columns={'overall': 'sentiment', 'reviewText': 'review'}, inplace=True)
new_col = ['review','sentiment']
df2 = df2[new_col]
df2.sample(10)

                                                 review  sentiment
806   I used this upgraded card in my Razr Maxx HD a...        5.0
287   When I first got this card, it worked perfectl...        5.0
2018  UPDATE 6/18/14: Well, I suppose nothing lasts ...        3.0
1852  This card is of excellent quality and it does ...        5.0
1313  This is a great memory card that I've put into...        5.0
305   This micro sd card does what is supposed to do...        5.0
3564  I experienced absolutely no problems with this...        5.0
823   great price and just what i needed i would rec...        5.0
1589  I love this Micro SD because I used it as my m...        5.0
3118  This 32GB microSDHC card replaces a 16GB card....        5.0

In [5]:
df2.sentiment = df2.sentiment.replace({1.0: 0, 2.0: 0, 3.0: 0, 4.0: 1, 5.0: 1})
df2.sentiment.value_counts()

1.0    4449
0.0     466
Name: sentiment, dtype: int64

## Dataset 3: Twitter ##

In [8]:
df3.sample(10)

,2401,Borderlands,Positive,"im getting on borderlands and i will murder you all ,"
2424,1624,CallOfDutyBlackopsColdWar,Neutral,These are the results of pawn takes pawn Zork ...
24187,4546,Google,Positive,Some great options to see the Meet stream when...
6244,274,Amazon,Irrelevant,Watch : soy (used for animal feed) is the larg...
21225,4034,CS-GO,Neutral,I Gotta be get the randoms when rapping... med...
38437,5391,Hearthstone,Irrelevant,BLOCK Vista Alegre PAPRIC Hearthstone Dinner P...
64788,7898,MaddenNFL,Neutral,Touch down your team to victory with incredibl...
6579,332,Amazon,Neutral,... at amzn. com to / http 2ROXopP...
52449,10609,RedDeadRedemption(RDR),Neutral,Dark Red House Dead Redemption 2 to Land on Go...
55845,2386,CallOfDuty,Irrelevant,. Highlights of building an amazing time strea...
29737,713,ApexLegends,Neutral,I did feel bad removing ppl with a 3p scout li...

In [9]:
df3 = df3.drop(columns=['2401', 'Borderlands'])
df3.dropna(inplace=True)
df3.sample(10)

         Positive im getting on borderlands and i will murder you all ,
31402    Negative  League of Legends has having issues since 1:35...
47291    Negative  A lot of yall don't seem to mind being stacked...
62109    Negative   wha the fuck??? No These blokes are totally nuts
30660     Neutral  I remember watching it live and wondering who ...
59554    Negative  I have had witnessed so much censorship agains...
68937    Positive  Oh Their chairs sure are 5 / 8 7 perfect score...
21136     Neutral  of. buy CS:GO the TF2 item off SCM.. 2. hold i...
43228  Irrelevant  Bew accounts with 7 tons of UC inside them. An...
33517    Positive    we love fortnite pic.wikipedia.org / BZayH4S2cm
27388    Positive                                           Fuck the

In [10]:
df3 = df3[df3['Positive'] != 'Irrelevant']
df3 = df3[df3['Positive'] != 'Neutral']
df3.shape

(43012, 2)

In [11]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
sentiment_label = le.fit_transform(df3["Positive"])
print(le.classes_)
df3 =df3.drop("Positive",axis="columns")
df3["Positive"] = sentiment_label
df3.rename(columns={'im getting on borderlands and i will murder you all ,': 'review', 'Positive': 'sentiment'}, inplace=True)
df3.sample(10)
# negative - 0 , positive - 1

['Negative' 'Positive']

                                                  review  sentiment
20006                             Always love The End!!!          1
48289  One of the MANY I'm proud to be a THD Associat...          1
67312                         Yeah this chick isn’t good          0
47123  Congrats on your retirement Ms. Maureen!  You ...          1
13772                                  Smh<unk> is NASTY          0
20989  Ah, this is SO awesome! I bought absolutely ev...          1
26845                This trailer is just... perfection.          1
21583  Perhaps the most iconic play of the early CSGO...          1
52721                               This is stunning. .           1
36882  @ Microsoft @ Xbox @ XboxSupport. I need to ta...          0

In [12]:
dfs = [df1,df2,df3]

final_dataset = pd.concat(dfs) 

final_dataset

                                                  review  sentiment
0      One of the other reviewers has mentioned that ...        1.0
1      A wonderful little production. <br /><br />The...        1.0
2      I thought this was a wonderful way to spend ti...        1.0
3      Basically there's a family where a little boy ...        0.0
4      Petter Mattei's "Love in the Time of Money" is...        1.0
...                                                  ...        ...
74676  Just realized that the Windows partition of my...        1.0
74677  Just realized that my Mac window partition is ...        1.0
74678  Just realized the windows partition of my Mac ...        1.0
74679  Just realized between the windows partition of...        1.0
74680  Just like the windows partition of my Mac is l...        1.0

[97927 rows x 2 columns]

In [13]:
print('df1:',df1.shape)
print('df2:',df2.shape)
print('df3:',df3.shape)

print('\nFinal Dataset:',final_dataset.shape)

final_dataset.to_csv('FinalDataset.csv')

df1: (50000, 2)
df2: (4915, 2)
df3: (43012, 2)

Final Dataset: (97927, 2)